<%- include('partials/header.ejs') %>

<title>Home Page</title> 

<body>
  <%- include('partials/nav.ejs') %>

  <div class="container mt-5">
    <h1>Home Page</h1>
  
    </div>

  <%- include('partials/script.ejs') %>
